/* Style for the custom toolbar wrapper */
.wpct_toolbar {
    width: 100%;
    display: grid;
    position: relative;
}

/* Remove the top border of the comment textarea */
.wpct_toolbar #comment {
    border-top: 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Style for the custom toolbar buttons */
.wpct_toolbar .quicktags-toolbar {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    background: var(--wpct-toolbar-bg-color);
    border: solid 1px var(--wpct-toolbar-border-color);
    transition: border-color 250ms ease;
}

/* Styling buttons inside the toolbar */
.wpct_toolbar .quicktags-toolbar input[type="button"] {
    padding: 5px;
    height: 35px;
    display: flex;
    min-width: 35px;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.wpct_toolbar .quicktags-toolbar input[value="b"],
.wpct_toolbar .quicktags-toolbar input[value="/b"] { font-weight: bold; }

.wpct_toolbar .quicktags-toolbar input[value="i"],
.wpct_toolbar .quicktags-toolbar input[value="/i"] { font-style: italic; }

.wpct_toolbar .quicktags-toolbar input[value="u"],
.wpct_toolbar .quicktags-toolbar input[value="/u"] { text-decoration: underline; }

.wpct_toolbar .wpct-character-count {
    display: flex;
    color: inherit;
    font-size: 0.9em;
    padding-top: 5px;
    align-items: center;
    justify-content: flex-start;
}

.wptc-math-captcha .wptc-captcha-label .wptc-captcha-problem { font-family: monospace !important; font-size: 0.9rem; }
